<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>Login</title>
    <h1 class="title">ログイン</h1>
    <form action="/login" method="post" class="form-box">
      <p>ユーザー名</p>
      <input type="text" name="name" class="m-form-text" />
      <p>パスワード</p>
      <input type="password" name="password" class="m-form-text" />
      <button type="submit" class="sign-in-button">サインイン</button>
    </form>
    <div class="nav">
      <a href="/register">
        <p>アカウント作成はこちら</p>
      </a>
    </div>
  </head>
</html>
